<app-header [isJobSearchForm]="true" 
            (jobResponse)="getSearchResult($event)"
            (isLoading)="onLoadingChanged($event)" 
            [paginationData]="currentPage"
            ><!-- <On recupere l'etat de isLoading depuis HEADER.Component (isLoading)="onLoadingChanged($event)" -->
</app-header>

<section class="pt-[50px]">
  <div *ngIf="isLoading" class="loader-overlay mt-[5px] ml-[15px] rounded-[40px]">
    <div class="spinner"></div>
    <div class="row">
        <span style="place-items: center; margin-left: 20px; z-index:99999; padding-top:8px;" class="text-dark " > Please wait ... We are fetching the results</span>
    </div>
</div>

  <div class="container">
    <div class="section-title justify-between items-center">
    </div>
    <div class="row">
      <ng-container *ngIf="!isJobResult">
        <div class="col-md-4 col-lg-3" *ngFor="let item of allJobs">
          <app-job-card [job]="item"></app-job-card>
        </div>
      </ng-container>
      <ng-container *ngIf="isJobResult">
        <div class="col-md-4 col-lg-3" *ngFor="let item of allJobs | paginate: { id: 'foo',
          itemsPerPage: jobResult?.page_size,
          currentPage: jobResult?.current_page,
          totalItems: jobResult?.total_jobs }">
          <app-job-card [job]="item"></app-job-card>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="isJobResult">
      <pagination-controls id="foo" (pageChange)="pageChanged($event)"></pagination-controls>
    </ng-container>
  </div>
</section>
