<div class="job-form__area p-[10px] bg-white w-[100%] h-[80px] mt-[55px] rounded-[40px]">
    <form class="flex h-[100%]" [formGroup]="myForm" (submit)="submit(currentPage)">
        <div class="job-form__fields flex flex-1">
            <div class="job-form__item h-[100%] flex items-center flex-1 px-[20px]">
                <span class="text-[20px] text-gray mr-[15px]"><i class="bi bi-search"></i></span>
                <input type="text" placeholder="Job title" class="text-[15px] font-[400] placeholder-gray text-black outline-none flex-1" formControlName="title">
            </div>
            <div class="job-form__item h-[100%] flex items-center flex-1 px-[20px]">
                <span class="text-[20px] text-gray mr-[15px]"><i class="bi bi-map"></i></span>
                <input type="text" placeholder="Add country or city" class="text-[15px] font-[400] placeholder-gray text-black outline-none flex-1" formControlName="location">
            </div>
        </div>
        <button type="submit" class="bg-primary-color text-white text-[16px]/[21px] w-[170px] rounded-[30px]">Search</button>
    </form>
</div>
