<div class="job-card p-[20px] bg-[#ffffff] rounded-[15px] cursor-pointer h-[calc(100%_-_30px)] mb-[30px] flex flex-col" routerLink="/details/{{ job.id }}">
    <div class="job-card__header flex mb-[18px]">
        <!-- <figure class="flex-[0_0_50px] w-[50px] h-[50px] bg-[#f8f8f8] rounded-[10px]">
            
        </figure> -->
        <!-- <div class="job-card__header--body flex-1 pl-[20px]"> -->
        <div class="job-card__header--body flex-1">
            <h3 class="text-black text-[16px]/[24px] font-[500] mb-[5px]">{{ job.title }}</h3>
            <ul>
                <!-- <li>Netflix</li> -->
                <li *ngIf="job.location"><i class="bi bi-geo-alt"></i> {{ job.location }}</li>
            </ul>
        </div>
    </div>
    <!-- <ul class="job-card__level mb-[10px]">
        <li>Expert</li>
        <li>Full Time</li>
        <li>Remote</li>
    </ul> -->
    <p class="text-[14px]/[21px] text-[#919191] font-[400] line-clamp-2 mb-[20px]">{{ job.description }}</p>
    <div class="job-card__footer mt-[auto] pt-[10px] border-t-[1px] border-t-gray-light border-solid flex flex-wrap justify-between items-center">
        <!-- <div class="job-card__footer--salary mt-[10px] text-[15px] text-[#919191]"><span class="font-[600] text-black">$250</span>/hr</div> -->
        <div class="mt-[10px] text-[#919191] text-[13px]"><i class="bi bi-clock"></i>&nbsp; Posted {{ job.insertion_date | timeDiff }} ago</div>
    </div>
</div>